*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text{
    color: purple;
    text-decoration: underline;
}
.word{
    color: red;
    font-size: 80px;
}
input[type="text"]{
border: 5px solid red;
}
p[color="purple"]{
    border: 5px solid crimson;
}
@media screen and (max-width:768px){
    .text{
        color: crimson;
        font-size: 3rem;
    }
    body{
        background-color: plum;
    }
}
@media screen and (min-width:481px) {
    body{
 background-color:gold;
    }
    .text{
        color: black;
        cursor: pointer;
    
    }
    .text:hover{
        font-size: 4rem;
        color: black;
    }
}
@media (min-width:481px) and (max-width:768px){
    body{
        background-color: cornflowerblue;
    }
    .text{
        display: none;
    }
}